$buttonColor: #3682a1;
$bodyTitlesColor: #065575;
$bodyTextColor: #000000;
$hyperLinksColor: #0991c8;
$tabsColor: #2a9ac7;
$LogoFontSize:32px;
$carouselTitleFontSize:48px;
$carouselBodyFontSize:25px;
$MenuTitleFontSize:18px;
$MenuBodyFontSize:16px;
$BodyTitleFontSize:18px;
$tabFontSize:25px;
$bodyFont:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$defaultBodyTextSize:16px;
$footerTitleFontSize:1rem;
$footerBodyFontSize:0.75rem;
$footerFontColor:#e6e1d7;
$upperFooterBackColor:#223a44;
$lowerFooterBackColor:#152228;


// Small phones  (landscape view)
$screen-sm-max: 575px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

