<div class="wrapper">

    <section class="d-md-flex my-4">
        <div class="card-container image-container">
            <div class="custom-header">
                <p class="custom-title">Our Services</p>
                <p class="custom-subtitle mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse,
                    deleniti! </p>
            </div>

            <div class="grid-section">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/AirFreight-icon.png" alt="Air-freight"><span
                            class="custom-card-title">Air Freight</span>

                        <p class="card-text">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Facere alias quia, corrupti vero aut ex autem possimus ipsum animi
                            officiis..</p>
                        <a href="#" class="card-link">Read More..</a>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/RoadFreight-icon.png" alt="Road-freight"><span
                            class="custom-card-title">Road Freight</span>

                        <p class="card-text">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Facere alias quia, corrupti vero aut ex autem possimus ipsum animi
                            officiis..</p>
                        <a href="#" class="card-link">Read More..</a>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/OceanFreight-icon.png" alt="Ocean-freight"><span
                            class="custom-card-title">Ocean Freight</span>

                        <p class="card-text">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Facere alias quia, corrupti vero aut ex autem possimus ipsum animi
                            officiis..</p>
                        <a href="#" class="card-link">Read More..</a>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/RailFreight-icon.png" alt="Air-freight"><span
                            class="custom-card-title">Rail Freight</span>

                        <p class="card-text">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Facere alias quia, corrupti vero aut ex autem possimus ipsum animi
                            officiis..</p>
                        <a href="#" class="card-link">Read More..</a>

                    </div>
                </div>

            </div>


        </div>
    </section>



    <section id="ourClients">
        <div class="card-container">
            <div class="custom-header">
                <p class="custom-title">Our Clients</p>
                <p class="custom-subtitle mb-2">And what they say..</p>
            </div>
        </div>

        <div class="light-dark d-flex flex-row justify-content-center flex-sm-wrap">

            <div class="d-flex flex-row p-4">

                <span><img src="../../assets/Customers-icon.png" alt="Customers-icon"></span>
                 <div><h3>760</h3>
  
                      <p class="card-text">Satisfied Clients</p>
                      </div>
                    
                
                </div>
        

            <div class="d-flex flex-row p-4">

              <span><img src="../../assets/Globe-icon.png" alt="globe-icon"></span>
               <div><h3>62</h3>

                    <p class="card-text">Countries Covered</p>
                    </div>
                  
              
              </div>


              <div class="d-flex flex-row p-4">

                <span><img src="../../assets/Goods-icon.png" alt="goods-icon"></span>
                 <div><h3>4600M</h3>
  
                      <p class="card-text">Tons of Goods Clients</p>
                      </div>
                    
                
                </div>


                <div class="d-flex flex-row p-4">

                    <span><img src="../../assets/Delivered-icon.png" alt="delivered-icon"></span>
                     <div><h3>6500M</h3>
      
                          <p class="card-text">Delivered Packages</p>
                          </div>
                        
                    
                    </div>


                   
           

           

        </div>
    </section>



</div>